# -*- coding: utf-8 -*-

"""
scrapingbee

This file was automatically generated by APIMATIC v3.0 (
 https://www.apimatic.io ).
"""

from scrapingbee.api_helper import APIHelper
from scrapingbee.configuration import Server
from scrapingbee.controllers.base_controller import BaseController
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter
from scrapingbee.http.http_method_enum import HttpMethodEnum
from apimatic_core.authentication.multiple.single_auth import Single
from apimatic_core.authentication.multiple.and_auth_group import And
from apimatic_core.authentication.multiple.or_auth_group import Or
from scrapingbee.models.search_response import SearchResponse


class GoogleSearchAPIController(BaseController):

    """A Controller to access Endpoints in the scrapingbee API."""
    def __init__(self, config):
        super(GoogleSearchAPIController, self).__init__(config)

    def simple_search(self,
                      search):
        """Does a GET request to /v1/store/google.

        TODO: type endpoint description here.

        Args:
            search (str): The text you would put in the Google search bar.

        Returns:
            SearchResponse: Response from the API.

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.SERVER_1)
            .path('/v1/store/google')
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                         .key('search')
                         .value(search))
            .header_param(Parameter()
                          .key('accept')
                          .value('application/json'))
            .auth(Single('global'))
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SearchResponse.from_dictionary)
        ).execute()
